body {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fdfdfd;
  font-family: "Raleway", sans-serif;
}

h2,
h3 {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 18px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
  /* background-color: rgba(225, 225, 255, 0.9); */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(207, 208, 235, 0.8); */
  background-color: rgba(75, 75, 75, 0.8);
  border-radius: 10px;
}

.btn {
  background: rgba(10, 23, 124, 0.85);
  color: #fdfdfd;
  border: 1px solid rgba(10, 23, 124, 0.85);
  padding: 10px 20px;
  border-radius: 2px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn:hover {
  border: 1px solid #fafafa;
  cursor: pointer;
  color: rgba(10, 23, 124, 0.85);
  /* background: rgba(10, 23, 124, 0.25); */
  background-color: transparent;
  border-color: rgba(10, 23, 124, 0.85);
}

.modal__btn {
  font-size: 24px;
}

.search__btn {
  text-align: center;
  height: 22px;
  font-size: 16px;
  margin-left: 40px;
  box-shadow: none;
  transition: all .3s ease-out;
}

.search__btn:hover {
  background: #fdfdfd;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.2);
}

.chart__title {
  position: relative;
  top: 10px;
  font-weight: 700;
  color: #fdfdfd;
}

.chart__title h2{
  font-size: 36px;
  margin: 0;
}

/* .background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 1336px;
  width: 100%;
  background-image: linear-gradient(
      rgba(75, 75, 75, 0.975),
      rgba(75, 75, 75, 0.975)
    ),
    url("../docs/work.jpg");
  background-size: cover;
  z-index: -1;
  box-shadow: 0px 2px 5px 1px rgb(183, 185, 197);
} */

.main,
.about-group {
  display: flex;
}

.main {
  background-image: linear-gradient(
      rgba(75, 75, 75, 0.975),
      rgba(75, 75, 75, 0.975)
    ),
    url("../docs/work.jpg");
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header header header"
  "search search search"
  "chart chart skills";
  grid-gap: 20px;
}

.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #888888;
  background: #fafafa;
}

.header__title h2 {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
  padding: 20px;
}

.header__title,
.instructions {
  display: flex;
  flex: 1;
}

.instructions {
  max-width: 900px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legend {
  border: 1px solid rgba(10, 23, 124, 0.25);
  border-radius: 2px;
  background-image: linear-gradient(
    rgba(10, 23, 124, 0.25),
    rgba(10, 23, 124, 0.25)
  );
  color: #f0f0f0;
  width: 1100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h-flex-1,
.h-flex-2,
.h-flex-3 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.about-group {
  box-sizing: border-box;
  color: rgba(0, 0, 0, .85);
  padding: 40px;
  background: hsla(0, 0%, 100%, .6);
  border: 1px solid rgba(0, 0, 0, .85);
  border-radius: 2px;
  width: 75vw;
  max-width: 900px;
  /* Height declaration for modal */
  /* breaks at 600 px */
  height: 75vh;
  /* max-height: 1000px; */
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* frosted-glass effect */
.about-group::before {
  background: linear-gradient(
      rgba(199, 199, 199, 0.65),
      rgba(199, 199, 199, 0.65)
    ), url("../docs/work.jpg") 0 / cover fixed;
  z-index: -1;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  filter: blur(35px);
  margin: -30px;
}


#graphic-group {
  grid-area: chart;
}

.search__container {
  position: relative;
}

.search-group {
  grid-area: search;
  display: grid;
  justify-items: center;
  align-items: start;
  height: 100px;
  overflow: visible;
  /* debugging */
  /* border: 1px dashed red; */
  /* height: 100%; */
  /* top: 8em; */
}

.search__container--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__bar {
  height: 44px;
  width: 632px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid #888;
  border-radius: 2px;
  padding: 5px 5px 5px 20px;
}

/* Search box shadows and transitions */

.skill-tooltip,
.skills-group,
.search-list,
.search__bar {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.2);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1), transform 200ms ease;
}

.skill-tooltip:hover,
.skills-group:hover,
.search__bar:hover,
.search__bar:focus,
.search-list:hover,
.search-list:focus{
  outline: none;
  transform: scale(1.05, 1.05);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.9),0 0 0 1px rgba(0,0,0,0.45);
}

.search-list:hover,
.search-list:focus{
  transform: scale(1.02, 1.02) translateY(3%);
}

.skills-group {
  /* Grid positioning */
  grid-area: skills;
  align-self: center;
  justify-self: center;
  /* Center children with flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* styling */
  box-sizing: border-box;
  padding: 20px;
  width: 350px;
  height: 100%;
  background-color: rgba(225, 225, 255, 0.9);
  border-radius: 2px;
  /* box-shadow: inset 5px 0px 5px -1px rgb(183, 185, 197); */
}

.skills-group h2 {
  font-size: 20px;
}

.search-list {
  position: absolute;
  z-index: 5;
  background: #fdfdfd;
  top: 46px;
  left: 0px;
  height: 300px;
  border: 1px solid #888;
  overflow: hidden;
  width: 630px;
  border-radius: 2px;
}

#search-results {
  height: 100%;
  overflow: auto;
  border-radius: 2px;
}

#search-results li {
  font-weight: 700;
  font-size: 16px;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(207, 208, 235, 0.8);
}

#search-results li:hover {
  background-color: rgba(207, 208, 235, 0.8);
  color: #444;
  cursor: pointer;
}

.chart-container {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin: 0 auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.chart-box {
  box-sizing: border-box;
  padding: 5px;
}

#skills-list {
  height: 765px;
  overflow: auto;
}

.skill-tooltip,
.skills-list-box {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700px;
  border: 1px solid rgba(207, 208, 235, 0.8);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #fbfbfb;
}

.skills-list-box {
  margin-bottom: 25px;
}

.skills-details {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.skill-flex-1,
.skill-flex-3 {
  flex: 1;
}

.skill-flex-2 {
  border-bottom: 1px solid rgba(207, 208, 235, 0.8);
  flex: 2;
  padding: 5px 0;
}

.skill-flex-1 {
  border-bottom: 1px solid rgba(207, 208, 235, 0.8);
  margin-top: 10px;
}

.skills-scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.skills-imp,
.skills-lvl {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.skill-circle:hover {
  z-index: 100;
  stroke: #e3e4ee;
  stroke-width: 5px;
  cursor: pointer;
}

.skill-tooltip {
  display: none;
  color: rgba(0, 0, 0, .85);
  border: none;
  background-color: #fdfdfd;
  position: fixed;
}

.about-header {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 3px;
}

.about-text {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.modal-screen {
  position: fixed;
  top: 0; right: 0; bottom: 0; right: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.modal-screen.active {
  background: rgba(0, 0, 0, 0.85);
}

.about__container {
  overflow: auto;
}

.about__close {
  display: flex;
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 48px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.about__close:hover {
  color: red;
  cursor: pointer;
}

.about__link {
  padding: 2px 5px;
}

.about__link:hover {
  color: rgba(10, 23, 124, 0.85);
  font-weight: 700;
  background: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 2px;
}

.about__legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slide-in {
  opacity: 0;
  transform: translateX(-20%) scale(0.95);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

@media only screen and (max-width: 1024px) {
  .skills-group {
  /* styling */
  padding: 10px;
  width: 250px;
  }

  .skill-tooltip,
  .skills-list-box {
  font-size: 12px;
  width: 200px;
  padding: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-areas: 
    "header"
    "search"
    "chart"
    "skills";
  }

  .header__title h2 {
    font-size: 30px;
  }

  .modal__btn {
    font-size: 16px;
  }

  .search__bar {
    width: 350px;
  }

  .search__btn {
    margin-left: 20px;
  }

  .search-list {
    width: 100%;
  }

  .skills-group {
  /* styling */
  padding: 20px;
  width: 80vw;
  min-width: 400px;
  }

  .skills-group:hover {
    transform: scale(1);
  }

  .skill-tooltip,
  .skills-list-box {
  font-size: 14px;
  width: 300px;
  padding: 10px;
  }
}